.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #8f44c2 60% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.intl-tel-input,
.iti {
    width: 100%;
}

.file-input {
    /* position: absolute; */
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    /* border-radius: 50%;*/
    width: 100px;
    height: 100px;
    top: 0px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(26, 31, 32, 0.72);
    text-align: center;
}

.file-input-label {
    display: block;
    margin-top: 50px;
}

/* Hide the actual file input */
.file-input input[type="file"] {
    position: relative;
    left: -9999px;
}

.preview {
    width: 100px;
    height: 100px;
    position: relative;
    /*left: -20px;*/
    top: -103px
}

.require-field::after{
    display:flex;
    content : "*";
    color : red;
}