@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Details";
}
<div class="text-danger"> 
    <p>လူကြီးမင်း ငွေပေးချေရန်ကျန်ရှိနေသေးသောမော်တော်ယာဥ်များသတ်မှတ်အရေအတွက်သို့ရောက်ရှိနေပါသည်။</p>
    <p>@ViewBag.LimitTime အချိန်အတွင်းငွေပေးချေခြင်းမရှိပါကလူကြီးမင်းငွေပေးချေရန်ကျန်ရှိနေသေးသောမော်တော်ယာဥ်စာရင်းကိုဖျက်သိမ်းမည်ဖြစ်ပါသည်။ </p>
</div>