@model VAVS_Client.Classes.TaxCalculation.TaxInfo

@{
    Layout = "_Layout";
}

<div class="container">
    <nav aria-label="Page navigation">
        <ul class="pagination d-flex justify-content-evenly">
            <li class="page-item">
                <span class="page-link rounded-pill">1</span>
            </li>
            <li class="page-item" aria-current="page">
                <span class="page-link rounded-pill">2</span>
            </li>
            <li class="page-item">
                <span class="page-link rounded-pill">3</span>
            </li>
            <li class="page-item active" aria-current="page">
                <span class="page-link rounded-pill">4</span>
            </li>
        </ul>
    </nav>
</div>

<div class="d-flex justify-content-center align-item-center">
<div class="card text-center col-md-6">
    <div class="card-header">
        <div><i style="background-color: #98df98;font-size: 40px;" class="fa-solid fa-check rounded-pill p-4 text-success"></i></div>
        <div><label class="fw-bold">Awesome!</label></div>
        <div><label class="">You're ready to proceed for request certificate.</label></div>
    </div>
    <div class="card-body" style="background-color: #3d9457b0;">
            <h5 class="card-title text-white" style="font-size: clamp(13px, 2vw, 18px);">စည်းကြပ်ခံယူမည့်ရုံးမှာ‌အောက်ပါအတိုင်းဖြစ်ပါသည်</h5>
        <form class="mb-2" action="/TaxValidation/PendingList" method="post">
            <div class="row mb-3">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group mt-2">
                        <div class="row">
                            <div class="d-flex justify-content-center align-item-center">
                                <div class="col-lg-12 col-md-4 col-sm-3 col-5">
                                    <label class="control-label fw-bold text-white" data-translate="Reg_StateDivision">State/Division</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="control-label text-white">@ViewBag.RegisteredStateDivisionName</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group mt-2">
                        <div class="row">
                            <div class="d-flex justify-content-center align-item-center">
                                <div class="col-lg-12 col-md-12 col-sm-3 col-5">
                                    <label class="control-label fw-bold text-white" data-translate="Reg_Township">Township</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="control-label text-white">@ViewBag.RegisteredTownshipName</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2 mt-2 d-flex justify-content-center align-item-center">
                <button type="submit" class="btn btn-primary d-grid">Complete Process</button>
            </div>
        </form>
    </div>
</div>
</div>