@{
    Layout = null;
}
<html lang="en"
      class="light-style customizer-hide"
      dir="ltr"
      data-theme="theme-default"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>VAVS Client</title>
    <link rel="icon" href="~/Content/images/MADB Logo.jpg">

    <meta name="description" content="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/css/intlTelInput.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="~/LoginFormStyle/boxicons.css" />
    <link rel="stylesheet" href="~/LoginFormStyle/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/LoginFormStyle/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/LoginFormStyle/page-auth.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/LoginFormStyle/js/helpers.js"></script>
    <script src="~/LoginFormStyle/js/config.js"></script>

</head>
<body>
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            @RenderBody()
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/js/intlTelInput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/LoginFormStyle/js/main.js"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/township.js"></script>
    <script src="~/js/auth.js"></script>
    <script src="~/js/authcode.js" asp-append-version="true"></script>
    <script src="~/js/localization.js" asp-append-version="true"></script>

</body>
</html>