@{
    Layout = null;
}
<html lang="en"
      class="light-style customizer-hide"
      dir="ltr"
      data-theme="theme-default"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>VAVS Client</title>
    <link rel="icon" href="~/Content/images/MADB Logo.jpg">

    <meta name="description" content="" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-ui/1.12.1/jquery-ui.min.css" asp-append-version="true">

    <link rel="stylesheet" href="~/LoginFormStyle/boxicons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoginFormStyle/core.css" class="template-customizer-core-css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoginFormStyle/theme-default.css" class="template-customizer-theme-css" asp-append-version="true" />

    <link rel="stylesheet" href="~/LoginFormStyle/page-auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <script src="~/LoginFormStyle/js/helpers.js" asp-append-version="true"></script>
    <script src="~/LoginFormStyle/js/config.js" asp-append-version="true"></script>

</head>
<body>
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            @RenderBody()
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/jquery-ui/1.12.1/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/LoginFormStyle/js/main.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/township.js" asp-append-version="true"></script>
    <script src="~/js/auth.js" asp-append-version="true"></script>
    <script src="~/js/authcode.js" asp-append-version="true"></script>
    <script src="~/js/localization.js" asp-append-version="true"></script>

</body>
</html>